# !! This file is managed by Terraform !!
# This repository is owned by the devsecops team(s).
# The senior and specialist team members are responsible for reviewing and approving changes to the codebase.
* @MaxxtonGroup/devsecops-senior

# The following files are owned by the devsecops team
.github/ @MaxxtonGroup/devsecops-senior
Dockerfile* @MaxxtonGroup/devsecops-senior
deploy*.yaml @MaxxtonGroup/devsecops-senior
deploy*.yml @MaxxtonGroup/devsecops-senior
deploy*.yml @MaxxtonGroup/devsecops-senior
buddy-workflow.yml @MaxxtonGroup/devsecops-senior
