# !! This file is managed by Terraform !!
# This repository is owned by the devops team.
# The senior and specialist team members are responsible for reviewing and approving changes to the codebase.
* @MaxxtonGroup/devops @MaxxtonGroup/devops-senior

# The following files are owned by the devops team
.github/ @MaxxtonGroup/devops
Dockerfile* @MaxxtonGroup/devops
deploy*.yaml @MaxxtonGroup/devops
deploy*.yml @MaxxtonGroup/devops
