# !! This file is managed by Terraform !!
# This repository is owned by the devops team(s).
# The senior and specialist team members are responsible for reviewing and approving changes to the codebase.
* @MaxxtonGroup/devops-senior

# The following files are owned by the devops team
.github/ @MaxxtonGroup/devops-senior
Dockerfile* @MaxxtonGroup/devops-senior
deploy*.yaml @MaxxtonGroup/devops-senior
deploy*.yml @MaxxtonGroup/devops-senior
deploy*.yml @MaxxtonGroup/devops-senior
buddy-workflow.yml @MaxxtonGroup/devops-senior
